In [21]:
import numpy as np
from process import get_binary_data

X, Y, _, _ = get_binary_data()
X.shape

(321, 8)

In [23]:
Y

array([0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0], dtype=int32)

In [27]:
import numpy as np
import pandas as pd
np.random.seed(1)
df = pd.read_csv('ecommerce_data.csv')

In [35]:
# easier to work with numpy array
data = df.values

# split features and labels
X = data[:,:-1]
Y = data[:,-1].astype(np.int32)

# one-hot encode the categorical data
# create a new matrix X2 with the correct number of columns
N, D = X.shape
X2 = np.zeros((N, D+3))
X2[:,0:(D-1)] = X[:,0:(D-1)] # non-categorical
# one-hot
for n in range(N):
  t = int(X[n,D-1])
  X2[n,t+D-1] = 1
    
print(X[1])
print(X2[1])

[1.         1.         0.56857123 0.         2.        ]
[1.         1.         0.56857123 0.         0.         0.
 1.         0.        ]

In [7]:
import pandas as pd
import numpy as np

In [51]:
df_data = pd.read_csv('ecommerce_data.csv')
display(df_data.head(n=2))
df_data['time_of_day'] = pd.Categorical(df_data['time_of_day'])
Y = df_data.iloc[:,[-1]]
X = df_data.iloc[:,:-1]
display(Y.head(n=2))
display(X.head(n=2))

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
1,1,1,0.568571,0,2,1

   user_action
0            0
1            1

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day
0,1,0,0.657510,0,3
1,1,1,0.568571,0,2

In [48]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(categories='auto')
t=enc.fit_transform(df_data.time_of_day.values.reshape(-1, 1))
t.toarray()

array([[0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       ...,
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.]])

In [55]:
pd.get_dummies(X)
X.dtypes

is_mobile                  int64
n_products_viewed          int64
visit_duration           float64
is_returning_visitor       int64
time_of_day             category
dtype: object

In [76]:
import pandas as pd 
# intialise data of lists. 
data = {'Color':['Red', 'Yellow', 'Red', 'Yellow'], 'Length':[20.1, 21.1, 19.1, 18.1],
       'Group':[1,2,1,2]} 

# Create DataFrame 
df = pd.DataFrame(data) 

for _c in df.select_dtypes(include=['object']).columns:
    print(_c)
    df[_c]  = pd.Categorical(df[_c])
df_transformed = pd.get_dummies(df)
df_transformed

Color

   Length  Group  Color_Red  Color_Yellow
0    20.1      1          1             0
1    21.1      2          0             1
2    19.1      1          1             0
3    18.1      2          0             1

0       Red
1    Yellow
2       Red
3    Yellow
Name: Color, dtype: object