In [7]:
import numpy as np
from process import get_binary_data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X, Y, _, _ = get_binary_data()
X.shape

(321, 8)

In [31]:
import numpy as np
import pandas as pd
np.random.seed(1)
df_data = pd.read_csv('ecommerce_data.csv')
df_data.head()

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
1,1,1,0.568571,0,2,1
2,1,0,0.042246,1,1,0
3,1,1,1.659793,1,1,2
4,0,1,2.014745,1,1,2

In [93]:
df_data['time_of_day'] = pd.Categorical(df_data['time_of_day'])
X_transformed = pd.get_dummies(df_data)
# split train and test
Xtrain = X_transformed.iloc[:-100,].copy()
Xtest = X_transformed.iloc[-100:,].copy()
Xtrain[['n_products_viewed', 'visit_duration']] = scaler.fit_transform(Xtrain[['n_products_viewed', 'visit_duration']])
Xtest[['n_products_viewed', 'visit_duration']] = scaler.fit_transform(Xtest[['n_products_viewed', 'visit_duration']])

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.6/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.6/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [94]:
Xtrain.head()

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,user_action,time_of_day_0,time_of_day_1,time_of_day_2,time_of_day_3
0,1,-0.823415,-0.409918,0,0,0,0,0,1
1,1,0.125767,-0.505507,0,1,0,0,1,0
2,1,-0.823415,-1.071186,1,0,0,1,0,0
3,1,0.125767,0.667307,1,2,0,1,0,0
4,0,0.125767,1.048798,1,2,0,1,0,0