In [1]:
%load_ext watermark
%watermark -a "Sushmit Roy" -u -d -p numpy,pandas,matplotlib,sklearn

Sushmit Roy
last updated: 2017-11-25

numpy 1.12.1
pandas 0.20.3
matplotlib 2.0.2
sklearn 0.19.1

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score

In [3]:
df_glass = pd.read_csv('glass.csv')

In [4]:
df_glass.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [5]:
X = np.array(df_glass.iloc[:,0:8])
y = np.array(df_glass.iloc[:,[9]])
y= y.reshape(len(y),)
print('Class Labels',np.unique(y))

Class Labels [1 2 3 5 6 7]

In [6]:
y.shape

(214,)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=1, stratify=y)

In [8]:
print('Labels counts in y:', np.bincount(y))
print('Labels counts in y_train:', np.bincount(y_train))
print('Labels counts in y_test:', np.bincount(y_test))

Labels counts in y: [ 0 70 76 17  0 13  9 29]
Labels counts in y_train: [ 0 49 53 12  0  9  6 20]
Labels counts in y_test: [ 0 21 23  5  0  4  3  9]

In [9]:
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

ppn = Perceptron(max_iter=40, eta0=0.1, random_state=1)
ppn.fit(X_train_std, y_train)

Perceptron(alpha=0.0001, class_weight=None, eta0=0.1, fit_intercept=True,
      max_iter=40, n_iter=None, n_jobs=1, penalty=None, random_state=1,
      shuffle=True, tol=None, verbose=0, warm_start=False)

In [10]:
y_pred = ppn.predict(X_test_std)
print('Misclassified samples: %d' % (y_test != y_pred).sum())
print('Accuracy: %.2f' % accuracy_score(y_test, y_pred))

Misclassified samples: 32
Accuracy: 0.51