In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
df = pd.read_csv('/Users/sroy/Personal/DAT210x/Module2/Datasets/direct_marketing.csv')

In [28]:
#df.recency
#df[['recency']]
#df.loc[:, 'recency']
#df.iloc[:, 0]
#df.ix[:, 'recency']
#df.ix[:, 'recency']
#df[df.recency < 7]
#df[ (df.recency < 7) & (df.newbie == 0) ]
df[df.recency < 7] = -100
df.head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100

In [54]:
ordered_satisfaction = ['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']
df = pd.DataFrame({'satisfaction':['Mad', 'Happy', 'Unhappy', 'Neutral']})

#df.satisfaction = df.vertebrates.astype("category").cat.codes
#df
#df = pd.get_dummies(df,columns=['vertebrates'])

In [56]:
df = pd.DataFrame({'vertebrates':[
...  'Bird',
...  'Bird',
...  'Mammal',
...  'Fish',
...  'Amphibian',
...  'Reptile',
...  'Mammal',
... ]})
df = pd.get_dummies(df,columns=['vertebrates'])
df

,vertebrates_Amphibian,vertebrates_Bird,vertebrates_Fish,vertebrates_Mammal,vertebrates_Reptile
0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,1.0
6,0.0,0.0,0.0,1.0,0.0

In [23]:
corpus = ["Authman ran faster than Harry because he is an athlete.","Authman and Harry ran faster and faster."]
bow = CountVectorizer()
X = bow.fit_transform(corpus) # Sparse Matrix
bow.get_feature_names()

2

In [10]:
df = pd.read_csv('/Users/sroy/Personal/DAT210x/Module2/Datasets/tutorial.csv')
df.describe()
df.loc[2:4, 'col3']

2   -1.417937
3   -1.649853
Name: col3, dtype: float64