In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import html5lib
df = pd.read_csv('/Users/sroy/Personal/DAT210x/Module2/Datasets/direct_marketing.csv')

In [28]:
#df.recency
#df[['recency']]
#df.loc[:, 'recency']
#df.iloc[:, 0]
#df.ix[:, 'recency']
#df.ix[:, 'recency']
#df[df.recency < 7]
#df[ (df.recency < 7) & (df.newbie == 0) ]
df[df.recency < 7] = -100
df.head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,-100,-100,-100.00,-100,-100,-100,-100,-100,-100,-100,-100,-100.0,-100

In [54]:
ordered_satisfaction = ['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']
df = pd.DataFrame({'satisfaction':['Mad', 'Happy', 'Unhappy', 'Neutral']})

#df.satisfaction = df.vertebrates.astype("category").cat.codes
#df
#df = pd.get_dummies(df,columns=['vertebrates'])

In [56]:
df = pd.DataFrame({'vertebrates':[
...  'Bird',
...  'Bird',
...  'Mammal',
...  'Fish',
...  'Amphibian',
...  'Reptile',
...  'Mammal',
... ]})
df = pd.get_dummies(df,columns=['vertebrates'])
df

,vertebrates_Amphibian,vertebrates_Bird,vertebrates_Fish,vertebrates_Mammal,vertebrates_Reptile
0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,1.0
6,0.0,0.0,0.0,1.0,0.0

In [23]:
corpus = ["Authman ran faster than Harry because he is an athlete.","Authman and Harry ran faster and faster."]
bow = CountVectorizer()
X = bow.fit_transform(corpus) # Sparse Matrix
bow.get_feature_names()

2

In [12]:
# Lab Assignment 2 
df = pd.read_csv('/Users/sroy/Personal/DAT210x/Module2/Datasets/tutorial.csv')
df.describe()
df.loc[2:4, 'col3']

2   -1.417937
3   -1.649853
Name: col3, dtype: float64

In [29]:
# Lab Assignment 3 
names = ['motor', 'screw', 'pgain', 'vgain', 'class']
df = pd.read_csv('/Users/sroy/Personal/DAT210x/Module2/Datasets/servo.data',header = None, names = names)
len(df[df.vgain ==5])
#len(df[(df.motor =='E') & (df.screw =='E')])
#df[df['pgain']==4].describe()

22

In [75]:
# Lab Assignment 4
df_list = pd.read_html(io = 'http://www.espn.com/nhl/statistics/player/_/stat/points/sort/points/year/2015/seasontype/2',
                  skiprows=1,header=0)

In [76]:
df= df_list[0]
df.dropna(axis=0, thresh=4, inplace= True)
df.drop(labels=['RK'],axis= 1,inplace= True,errors = 'ignore')
df = df[df['PLAYER']!= 'PLAYER']
df.reset_index(inplace=True, drop =True)

df.ix[:,'GP'] = pd.to_numeric(df.ix[:,'GP'] , errors='coerce')
df.ix[:,'G'] = pd.to_numeric(df.ix[:,'G'] , errors='coerce')
df.ix[:,'A'] = pd.to_numeric(df.ix[:,'A'] , errors='coerce')
df.ix[:,'PTS'] = pd.to_numeric(df.ix[:,'PTS'] , errors='coerce')
df.ix[:,'+/-'] = pd.to_numeric(df.ix[:,'+/-'] , errors='coerce')
df.ix[:,'PIM'] = pd.to_numeric(df.ix[:,'PIM'] , errors='coerce')
df.ix[:,'PTS/G'] = pd.to_numeric(df.ix[:,'PTS/G'] , errors='coerce')
df.ix[:,'PTS/G'] = pd.to_numeric(df.ix[:,'PTS/G'] , errors='coerce')
df.ix[:,'SOG'] = pd.to_numeric(df.ix[:,'SOG'] , errors='coerce')
df.ix[:,'PCT'] = pd.to_numeric(df.ix[:,'PCT'] , errors='coerce')
df.ix[:,'GWG'] = pd.to_numeric(df.ix[:,'GWG'] , errors='coerce')
df.ix[:,'G.1'] = pd.to_numeric(df.ix[:,'G.1'] , errors='coerce')
df.ix[:,'A.1'] = pd.to_numeric(df.ix[:,'A.1'] , errors='coerce')
df.ix[:,'G.2'] = pd.to_numeric(df.ix[:,'G.2'] , errors='coerce')
df.ix[:,'A.2'] = pd.to_numeric(df.ix[:,'A.2'] , errors='coerce')
df.dtypes

/Users/sroy/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:545: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value
/Users/sroy/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:461: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

PLAYER     object
TEAM       object
GP          int64
G           int64
A           int64
PTS         int64
+/-         int64
PIM         int64
PTS/G     float64
SOG         int64
PCT       float64
GWG         int64
G.1         int64
A.1         int64
G.2         int64
A.2         int64
dtype: object

In [86]:
len(df['PCT'].drop_duplicates())
len(df)
df['GP'][15] + df['GP'][16]

164

In [10]:
# assignment 5
names = ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']
df = pd.read_csv('/Users/sroy/Personal/DAT210x/Module2/Datasets/census.data', header = None,usecols =list(range(1,9))
        ,names=names      )

print(df.dtypes)
df.head()
df.ix[:,'capital-gain'] = pd.to_numeric(df.ix[:,'capital-gain'] , errors='coerce')

education         object
age                int64
capital-gain      object
race              object
capital-loss       int64
hours-per-week     int64
sex               object
classification    object
dtype: object

In [23]:
list_education = list(df['education'].unique())
print(len(list_education))
print(list_education)
list_education = ['Preschool','1st-4th','5th-6th','7th-8th','9th','10th','11th','12th','HS-grad','Bachelors','Some-college',
                  'Masters',
                 'Doctorate']
print(len(list_education))

13
['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college', '7th-8th', 'Doctorate', '5th-6th', '10th', '1st-4th', 'Preschool', '12th']
13